
.row
  %h1 What we can do for you
  %p.larger
    Enhance your online visibilty and drive business to your dive center with a free listing on bookyourdive.com - the SCUBA destination where divers review, compare and book.

.row
  .ten.columns.alpha.reasons_to_join_today
    .join_today Five reasons to join today

    %ol
      %li Generate online bookings from divers worldwide 
      %li Connect with millions of divers via our networks 
      %li We charge a fee of only 10% fee per booking
      %li Gain customer reviews and grow your business 
      %li No registration costs or fixed fees
  
  .six.columns.omega
    = render 'dive_centers/form'

.br{:class => 'clear'}
%h2 Who are we?
%p.larger
  = image_tag 'http://media01.linkedin.com/mpr/mpr/shrink_80_80/p/1/000/01d/1b7/0ab8bc5.jpg', :class => 'rutger'
  
  Our goal is to provide the most up-to-date information to divers and travel- ers in search of a particular SCUBA experience. You will be able to list your dive center free of any charge. We help you generate online sales and build up a reputation within the scuba community, based on the reviews of other SCUBA divers.

.block_container
  .landing_block
    %h3 Review, Compare and Book
    %ul
      %li List your dive center and generate online bookings
      %li Create your free individual profile page with photos and videos
      %li We charge a fee of only 10% fee per booking
  
  .landing_block
    %h3 The Power of Reviews 
    %ul
      %li Show reviews on your profile page
      %li We provide promotional material to help you gain reviews
      %li Stand out of the crowd

  .landing_block
    %h3 Opportunities for more Exposure
    %ul
      %li Promote your dive center within our site
      %li Create exposure at our partner sites
      %li Submit guest blogs for our SCUBA blog

  .landing_block
    %h3 The power of our network
    %ul
      %li
        Partnerships with sites like 
        = link_to "ScubaDiverLife", "http://www.scubadiverlife.com"
        and many more to come
      %li Your profile will also be published on our partner sites
      %li Benefit from these collaborations and reach millions of divers￼￼


